.top{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.profile{
    display: flex;
    
}

.burger{
    padding-left: 7rem;
}
img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 100px;
}
.bold{
    font-weight: bold;

}
.line{
    width: 33px;
    height: 3px;
    background-color: black;
    margin: 3px;
}
.top p{
    font-size: 27px;
}